.devkit-merge-cells-table-wrapper {
  margin-bottom: 24px;
}

.devkit-merge-cells-table-wrapper .devkit-table {
  width: 98%;
  border: solid 1px var(--light-grey);
  border-collapse: collapse;
  border-spacing: 0;
}

.devkit-merge-cells-table-wrapper .devkit-table .devkit-table-title {
  padding: 10px 9px 8px 16px;
  background: var(--light-blue);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.devkit-merge-cells-table-wrapper .devkit-table thead th,
.devkit-merge-cells-table-wrapper .devkit-table tr th {
  min-width: 100px;
  padding: 4px;
  text-align: left;
  border: solid 1px var(--light-grey);
  font-weight: 600;
  color: var(--dark-blue);
}

.devkit-merge-cells-table-wrapper .devkit-table tbody {
  font-size: 0.875rem;
}

.devkit-merge-cells-table-wrapper .devkit-table tbody td {
  min-width: 100px;
  border: solid 1px var(--light-grey);
  padding: 10px;
}

.devkit-merge-cells-table-wrapper tr:hover {
  font-weight: 600;
}

.devkit-merge-cells-table-wrapper tr.devkit-table-row:nth-child(even) {
  background: var(--table-grey);
}

.devkit-merge-cells-table-wrapper tr.devkit-table-row:nth-child(odd) {
  background: var(--white);
}

@media screen and (min-width: 768px) {
  .devkit-merge-cells-table-wrapper .devkit-table .devkit-table-title {
    padding: 10px 9px 8px 16px;
    font-size: 1rem;
    font-weight: 600;
  }
  .devkit-merge-cells-table-wrapper .devkit-table thead th {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .devkit-merge-cells-table-wrapper .devkit-table {
    width: 100%;
    border: 1px solid var(--light-grey);
    border-bottom: 0;
  }

  .devkit-merge-cells-table-wrapper .devkit-table .devkit-table-title {
    padding: 10px 9px 8px 16px;
    background: var(--light-blue);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
  }

  .devkit-merge-cells-table-wrapper .devkit-table thead {
    display: none;
    border: 0;
  }

  .devkit-merge-cells-table-wrapper .devkit-table tr {
    display: block;
    border-bottom: 1px solid var(--light-grey);
  }
  .devkit-merge-cells-table-wrapper .devkit-table tr th {
    border: 0;
  }
  .devkit-merge-cells-table-wrapper .devkit-table tbody td {
    display: block;
    border: 0;
    font-size: 0.875rem;
    text-align: right;
  }

  .devkit-merge-cells-table-wrapper .devkit-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: 600;
    color: var(--dark-blue);
  }

  .devkit-merge-cells-table-wrapper .devkit-table td:last-child {
    border-bottom: none;
  }
}
