.devkit-checkradio-wrapper {
  display: flex;
  color: var(--slate);
  margin-left: 0;
}
.devkit-checkradio-wrapper fieldset.devkit-checkradio-fieldset {
  padding: 12px;
  min-width: 300px;
  font-size: 0.875rem;
}
.devkit-checkradio-wrapper fieldset {
  border: 1px solid transparent;
  border-radius: 3px;
  clear: both;
  margin: 12px 0;
  padding: 0;
}
.devkit-checkradio-wrapper fieldset ul.devkit-sample-checkbox,
.devkit-checkradio-wrapper fieldset ul.devkit-sample-radio-button {
  padding-left: 0;
  list-style-type: none;
}
.devkit-checkradio-wrapper fieldset ul.devkit-sample-checkbox li,
.devkit-checkradio-wrapper fieldset ul.devkit-sample-radio-button li {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
