:root {
  margin: 0 auto;
}

.devkit-footer-wrapper {
  padding-bottom: 12px;
  background: linear-gradient(
    var(--footer-lighter-grey-background),
    var(--footer-light-grey-background)
  );
  border-radius: 5px;
  border-top: solid 1px var(--light-grey);
  clear: both;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr repeat(3, 16px 1fr);
  -ms-grid-rows: 48px auto;
  grid-template-rows: 48px auto;
  padding-left: 12px;
}

footer .devkit-footer-logo-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer .devkit-first-group-links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 2;
  grid-row: 2;
}

footer .devkit-second-group-links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 3;
  grid-row: 3;
}

footer .devkit-third-group-links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 4;
  grid-row: 4;
}

footer .devkit-info-group-links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 5;
  grid-row: 9 / span 1;
}

@media screen and (min-width: 768px) {
  footer {
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr
      24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr repeat(11, 24px 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  footer .devkit-footer-logo-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    padding-top: 24px;
  }

  footer .devkit-first-group-links {
    -ms-grid-column: 8;
    -ms-grid-column-span: 7;
    grid-column: 8 / span 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-second-group-links {
    -ms-grid-column: 16;
    -ms-grid-column-span: 7;
    grid-column: 16 / span 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-third-group-links {
    -ms-grid-column: 8;
    -ms-grid-column-span: 7;
    grid-column: 8 / span 7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }

  footer .devkit-info-group-links {
    -ms-grid-column: 16;
    -ms-grid-column-span: 7;
    grid-column: 16 / span 7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
}

@media screen and (min-width: 960px) {
  .devkit-footer-wrapper {
    padding-bottom: 24px;
    background: linear-gradient(
      var(--footer-lighter-grey-background),
      var(--footer-light-grey-background)
    );
    border-radius: 5px;
    border-top: solid 1px var(--light-grey);
    clear: both;
  }
  footer {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  footer .devkit-footer-logo-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }

  footer .devkit-first-group-links {
    -ms-grid-column: 7;
    -ms-grid-column-span: 7;
    grid-column: 7 / span 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-second-group-links {
    -ms-grid-column: 15;
    -ms-grid-column-span: 8;
    grid-column: 15 / span 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-third-group-links {
    -ms-grid-column: 7;
    -ms-grid-column-span: 7;
    grid-column: 7 / span 7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }

  footer .devkit-info-group-links {
    -ms-grid-column: 15;
    -ms-grid-column-span: 8;
    grid-column: 15 / span 8;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    -ms-grid-rows: 36px auto;
    grid-template-rows: 36px auto;
  }

  footer .devkit-footer-logo-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }

  footer .devkit-first-group-links {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-second-group-links {
    -ms-grid-column: 10;
    -ms-grid-column-span: 5;
    grid-column: 10 / span 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-third-group-links {
    -ms-grid-column: 16;
    -ms-grid-column-span: 4;
    grid-column: 16 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  footer .devkit-info-group-links {
    -ms-grid-column: 21;
    -ms-grid-column-span: 3;
    grid-column: 21 / span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
}
